.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.navItems {
    display: flex;
    list-style-type: none;
}

.navItems li {
    padding: 8px;
}