.productCard {
    border: 1px solid black;
    /* width: 25%; */
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

}

.productCard img {
    width: 100%;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    margin-top: 5%;
    /* height: 100vh; */
}